# SPDX-License-Identifier: MIT

---
BasedOnStyle:  WebKit
StatementMacros:
- M5_NIF_v_v
- M5_NIF_v_i
- M5_NIF_i_v
- M5_NIF_i2_v
- M5_NIF_i3_v
- M5_NIF_i2_i3_v
- M5_NIF_i3_i4_v
- M5_NIF_i4_i5_v
- M5_NIF_i5_i6_v
- M5_NIF_i6_i7_v
