# SPDX-License-Identifier: MIT
name: Build
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: espressif/idf:${{ matrix.idf-version }}
    strategy:
      fail-fast: false
      matrix:
        esp-idf-target: ["esp32", "esp32c3", "esp32c6", "esp32s3", "esp32p4"]
        language: ['cpp']
        idf-version:
         - 'v5.1.6'
         - 'v5.2.6'
         - 'v5.3.4'
         - 'v5.4.3'
         - 'v5.5.1'

        exclude:
        - esp-idf-target: "esp32c3"
          idf-version: 'v5.1.6'
        - esp-idf-target: "esp32p4"
          idf-version: 'v5.1.6'
        - esp-idf-target: "esp32p4"
          idf-version: 'v5.2.6'
    steps:
    - name: Checkout AtomVM
      uses: actions/checkout@v5
      with:
        repository: atomvm/AtomVM
        path: AtomVM
    - name: Checkout atomvm_m5
      uses: actions/checkout@v5
      with:
        path: AtomVM/src/platforms/esp32/components/atomvm_m5

    - name: Build with idf.py
      shell: bash
      working-directory: AtomVM/src/platforms/esp32/
      run: |
        . $IDF_PATH/export.sh
        idf.py reconfigure
        idf.py build

  build-doc:
    runs-on: ubuntu-latest
    container: erlang:28
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Build edoc
        run: |
          rebar3 edoc
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: doc

  clang-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install clang-format
        run: |
            sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"
      - name: Install run-clang-format
        run: |
            curl -sSfL https://raw.githubusercontent.com/Sarcasm/run-clang-format/master/run-clang-format.py -o run-clang-format
            chmod +x run-clang-format
      - name: Check format with clang-format
        run: |
            ./run-clang-format --style=file -r nifs/

  erlfmt:
    runs-on: ubuntu-latest
    container: erlang:28
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Checkout erlfmt
        run: |
            cd ..
            git clone --depth 1 -b v1.1.0 https://github.com/WhatsApp/erlfmt.git
            cd erlfmt
            rebar3 as release escriptize
      - name: Check format with erlfmt
        run: |
            find . -name *.erl | xargs ../erlfmt/_build/release/bin/erlfmt -c
